/*comments*/
header {
    background-color: lightcoral;   
    border-bottom: 3px solid coral;
}

.header { 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif
    

}
 /*move nav bar to the right*/

.header nav {
    
}

/*add css box styling*/

body {

}


section { 

}


h1 {
    
}

h2 {

}
 
h3 {

}

