/*comments*/
header {
    background-color: lightcoral;   
    border-bottom: 3px solid coral;
}

.header { 
     color: white;
     font-family: Verdana, Geneva, Tahoma, sans-serif
    

}

.header nav {
    justify-content: right;
   
}

body {

}





h1 {
    
}

h2 {

}
 
h3 {

}

