/*comments*/
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



Body {
    background-color: #FFEEDB;
}

header {
    background-color: #503B31;
    border-bottom: 5px solid lemonchiffon;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;
    
}

nav {
    text-align: right;
    padding: 20px;
    
}
/* figure out a way to add spave between nav links and remove the borders*/
nav a{
    text-decoration: none;
    color: white;
    align-items: space-between;
    margin: 6px;
    
    /*border: 2px lemonchiffon solid;
    background-color: #705D56 */
}
#aboutme {
    text-align: center;
    /* margin: auto;
    width: 600px;
    height: 400px;
    background-color: tan;
    border: solid 2px brown;
    margin: 8px 0px;
    align-items: center;*/
    
}
.header{ 
    
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

#aboutme img{
    border-radius: 15px;

}
#aboutme p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-wrap: wrap;
    background-color: tan;
    margin: 5px;
}
img {
    margin: 8px;
    align-content: right;

}
    
    
#work {
    width: 100%;
    height: 500px;
   /* background-color: tan;
border: solid 2px brown;*/
    Margin-bottom: 8px;
    
}
/*
#work img {

}
 #div div{

 }


#div {
    align-items: right;
    width: auto;
    height: auto;
}

#contactme {
    width: 100%;
    height: 200px;
    background-color: tan;
    border: solid 2px brown;

}

#img {
    border: solid 2px;
}colors :
#705D56
 

*/