/*comments*/
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/*
Body {
    background-color: lemonchiffon;
}

header {
    background-color: coral;
    border-bottom: 5px solid lemonchiffon;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px;

}

nav {
    text-align: right;
    padding: 20px;
}
 nav a{
    text-decoration: none;
    color: white;
    justify-content: space-between;

 }
 div{

 }

#aboutme {
   text-align:center;
   /* margin: auto;
    width: 600px;
    height: 400px;
    background-color: tan;
    border: solid 2px brown;
    margin: 8px 0px;
    align-items: center;*/
/*
img {
    margin: 8px;
    justify-content: right;
}

#work {
    width: 100%;
    height: 500px;
    background-color: tan;
    border: solid 2px brown;
    Margin-bottom: 8px;

}
#work img {

}
 #div div{

 }


#div {
    align-items: right;
    width: auto;
    height: auto;
}

#contactme {
    width: 100%;
    height: 200px;
    background-color: tan;
    border: solid 2px brown;

}

#img {
    border: solid 2px;
}
*/